{% assign maxRelated = 5 %}

{% assign minCommonTags =  2 %}

{% assign maxRelatedCounter = 0 %}
<hr>
<h4> Related Posts </h4>
<div class="list-group pb-4">
{% for post in site.posts %}

{% assign sameTagCount = 0 %}
{% assign commonTags = '' %}

{% for tag in post.tags %}

{% if post.url != page.url %}
{% if page.tags contains tag %}
{% assign sameTagCount = sameTagCount | plus: 1 %}
{% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
{% assign commonTags = commonTags | append: tagmarkup %}
{% endif %}
{% endif %}
{% endfor %}

{% if sameTagCount >= minCommonTags %}
    <a href="{{ post.url }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title }}</h5>
            <small>{{ post.date | date_to_string: "ordinal", "US" }}</small>
        </div>
        <p class="mb-1">{{ post.excerpt | strip_html }}</p>
    </a>
{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
{% if maxRelatedCounter >= maxRelated %}
{% break %}
{% endif %}
{% endif %}

{% endfor %}

{% if maxRelatedCounter == 0 %}
<p>No related posts at this time! <a href="{{site.url}}/blog">Back to Blog.</a> </p>
{% endif %}

</div>
